//====================================================================================================
.header {
  // .header__top
  &__top {
  }

  // .header__body
  &__body {
  }

  // .header__catalog
  &__catalog {
  }
}
//====================================================================================================

.top-header {
  padding: rem(15) 0;
  background: $mainDark;

  // .top-header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(30);
    min-height: rem(40);
    color: #ffffff;
  }

  // .top-header__menu
  &__menu {
  }

  // .top-header__actions
  &__actions {
  }

  // .header-top__menu
  &__menu {
  }
}
.menu-top-header {
  // .menu-top-header__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveValue("column-gap", 60, 20);
  }

  // .menu-top-header__item
  &__item {
    &_catalog {
      display: none;
    }
  }

  // .menu-top-header__link
  &__link {
    @extend %underlinehover;
  }
  @media (max-width: $tablet) {
    display: none;

    &__list {
      left: 0;
      flex-direction: column-reverse;
      justify-content: flex-end;
      z-index: 5;
    }

    &__item {
      &_catalog {
        display: block;
      }
    }

    &__item_catalog &__link {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      &::before {
        align-self: center;
        @include adaptiveValue("font-size", 14, 10, 991.98, 320, 1);
        transform: rotate(-90deg);
      }
    }
  }
  @media (min-width: $tablet) {
    &__list {
      row-gap: rem(15);
    }

    &__link {
      font-size: rem(16);
      line-height: math.div(20, 16);
    }
  }
}
.actions-top-header {
  display: flex;
  align-items: center;
  column-gap: rem(35);

  // .actions-top-header__user
  &__user {
    display: flex;
    align-items: center;
    column-gap: rem(15);
    font-weight: 600;
    line-height: math.div(22, 18);
    &::before {
      font-size: rem(28);
    }
    @media (any-hover: hover){
      &:hover span{
        text-decoration: underline;
      }
    }
  }
  @media (max-width: $tablet) {
    &__user {
      order: 1;
      span {
        display: none;
      }
    }
  }
}
.menu {
  // .menu__icon
  &__icon {
    padding: rem(5) rem(5);
  }

  // .menu__body
  &__body {
    z-index: 5;

    .menu-open & {
      left: 0;
    }
  }

  // .menu__list
  &__list {
  }

  // .menu__item
  &__item {
  }

  // .menu__link
  &__link {
  }
  @media (min-width: $tablet) {
    display: none;
  }
}

//========================================================================================================================================================

//Burger
.icon-menu {
  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: rem(28);
    height: rem(17);
    cursor: pointer;
    z-index: 10;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      left: 0;
      position: absolute;
      width: 100%;
      height: rem(3);
      border-radius: rem(1.5);
      background-color: #ffffff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1.5));
    }
    .menu-open & {
      span {
        transform: scale(0);
      }
      &::before {
        transform: rotate(-45deg);
        top: calc(50% - rem(1.5));
      }
      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - rem(1.5));
      }
    }
  }
}

//========================================================================================================================================================

.body-header {
  padding: rem(15) 0;
  background: #ecf1f2;

  // .body-header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: rem(60);
  }

  // .body-header__logo
  &__logo {
    font-size: rem(42.45);
    color: #1f1c21;
  }

  // .body-header__search
  &__search {
    flex: 1 1 auto;
    margin-right: auto;
    @include adaptiveValue("margin-left", 158, 0, 1620, 1200, 1);
  }

  // .body-header__actions
  &__actions {
  }
}
.header-search {
  padding: 0 rem(20);

  // .header-search__form
  &__form {
    position: relative;
  }

  // .header-search__button
  &__button {
    position: absolute;
    top: rem(2);
    bottom: 0;
    left: rem(13);
    padding: 0 rem(7);
    font-size: rem(14);
    color: rgba(0, 0, 0, 0.5);
  }

  // .header-search__input
  &__input {
    width: 100%;
    max-width: rem(377);
    height: rem(41);
    padding-left: rem(41);
    border: rem(1) solid rgba(4, 4, 4, 0.5);
    border-radius: rem(3);
    line-height: math.div(17, 18);
    background: rgba(7, 7, 7, 0.03);
    &::placeholder {
      font-size: rem(14);
      color: rgba(0, 0, 0, 0.5);
    }
  }

  @media (max-width: $tablet) {
    padding-right: 0;

    &__input {
      max-width: none;
    }
  }
  @media (max-width: $mobile) {
    padding: rem(10) 0;

    &__button {
      top: 0;
      right: rem(13);
      left: auto;
      font-size: rem(16);
      color: $mainColor;
    }

    &__input {
      padding: 0 rem(41) 0 rem(10);
      background: #ffffff;
      &::placeholder {
        color: $mainColor;
      }
    }
  }
}
.actions-body-header {
  display: flex;
  align-items: center;
  column-gap: rem(30);

  // .actions-body-header__location
  &__location {
    display: flex;
    align-items: center;
    column-gap: rem(10);
    font-weight: 600;
    line-height: math.div(22, 18);
    @include adaptiveValue("margin-right", 25, 0, 1620, 1220, 1);
    &::before {
      font-size: rem(24.42);
    }
    @media (any-hover: hover){
      &:hover span{
        text-decoration: underline;
      }
    }
  }

  // .actions-body-header__call
  &__call {
  }

  // .actions-body-header__favorite
  &__favorite {
    font-size: rem(26.58);
  }

  // .actions-body-header__cart
  &__cart {
  }

  @media (max-width: $tablet) {
    &__location {
      display: none;
    }

    &__favorite {
      order: 2;
    }
  }
}
.request-call {
  color: $mainOrange;

  // .request-call__spoller
  &__spoller {
    position: relative;
    display: flex;
    column-gap: rem(17);
    margin-bottom: rem(3);
  }

  // .request-call__number
  &__number {
    @extend %underlinehover;
    font-weight: 600;
    line-height: math.div(22, 18);
    color: $mainColor;
    white-space: nowrap;
  }

  // .request-call__arrow
  &__arrow {
    font-size: rem(9.58);
    &::before {
      transition: transform 0.3s ease 0s;
    }
    &._spoller-active {
      &::before {
        transform: rotate(-180deg);
      }
    }
  }

  // .request-call__list
  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    padding: rem(15) rem(20);
    border-radius: rem(6);
    transform: translateX(rem(-20));
    background: #ffffff;
    z-index: 2;
  }

  // .request-call__item
  &__item {
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  // .request-call__request-btn
  &__request-btn {
    @extend %underlinehover;
    font-weight: 700;
    line-height: math.div(22, 18);
  }
  @media (min-width: $mobile) {
    &__number {
      &::before {
        display: none;
      }
    }
  }
  @media (max-width: $tablet) {
    order: 0;

    &__spoller {
      margin-bottom: 0;
    }

    &__number {
      font-size: rem(22);
      color: #ffffff;
    }

    &__arrow,
    &__list,
    &__request-btn {
      display: none;
    }
  }
  @media (max-width: $mobile) {
    &__number {
      span {
        display: none;
      }
      &::before {
        font-size: rem(24);
      }
    }
  }
}
.cart-header {
  display: flex;
  align-items: center;
  column-gap: rem(20);

  @media (any-hover: hover){
    &:hover &__text {
      text-decoration: underline;
    }
  }

  // .cart-header__icon
  &__icon {
    position: relative;
    font-size: rem(32.58);

    span {
      position: absolute;
      top: rem(-2.75);
      right: rem(-5.54);
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(14);
      height: rem(14);
      border-radius: 50%;
      font-size: rem(10);
      line-height: math.div(10, 8);
      color: #ffffff;
      background: $mainOrange;
    }
  }

  // .cart-header__body
  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(5);
    font-size: rem(16);
    line-height: math.div(20, 16);

    @media (max-width: em(1250)) {
      display: none;
    }
  }

  // .cart-header__price
  &__price {
  }

  // .cart-header__text
  &__text {
    color: $mainOrange;
  }

  @media (max-width: $tablet) {
    order: 3;
  }
}

//========================================================================================================================================================

.catalog-header {
  position: relative;
  background: $mainDark;
  color: #ffffff;

  // .catalog-header__container
  &__container {
  }

  // .catalog-header__menu
  &__menu {
  }

  // .catalog-header__submenu
  &__submenu {
  }
}
.menu-catalog {
  // .menu-catalog__list
  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: rem(20);
  }

  // .menu-catalog__item
  &__item {
  }

  // .menu-catalog__button
  &__button {
    min-height: rem(70);
    transition: color 0.3s ease 0s;
  }
  @media (max-width: $tablet) {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 6;

    .menu-open &_active {
      left: 0;
    }

    &__button {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      width: 100%;
      min-height: auto;

      &::before {
        align-self: center;
        @include adaptiveValue("font-size", 14, 10, 991.98, 320, 1);
        transform: rotate(-90deg);
      }
    }
  }
  @media (min-width: $tablet) {
    padding: 0 rem(10);

    &__button {
      line-height: math.div(22, 18);

      &::before {
        display: none;
      }

      &_active {
        border-bottom: rem(1) solid $mainOrange;
        color: $mainOrange;
      }

      @media (any-hover: hover) {
        &:hover {
          color: $mainOrange;
        }
      }
    }
  }
}

.submenu-header {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: $mainColor;
  z-index: 20;

  // .submenu-header__container
  &__container {
  }

  // .submenu-header__block
  &__block {
    justify-items: flex-start;
    align-items: flex-start;
    column-gap: rem(20);
    font-size: rem(16);
    line-height: math.div(20, 16);

    &::before,
    &::after {
      content: "";
      justify-self: stretch;
      height: rem(1);
      margin: rem(30) 0;
      background: rgba(255, 255, 255, 0.5);
    }
    &::before {
      grid-row: 2;
      grid-column: 1 / -1;
    }
    &::after {
      grid-row: 4;
      grid-column: 1 / -1;
    }
  }

  // .submenu-header__category
  &__category {
    @extend %underlinehover;
    grid-row: 1;
    font-weight: 700;
  }

  // .submenu-header__list
  &__list {
    grid-row: 3;
  }

  // .submenu-header__item
  &__item {
  }

  // .submenu-header__link

  &__link {
    @extend %underlinehover;
  }

  // .submenu-header__more
  &__more {
    @extend %underlinehover;
    grid-row: 5;
    color: $mainOrange;
  }

  @media (max-width: $tablet) {
    &__block {
      z-index: 7;

      .menu-open &_active {
        left: 0;
      }
    }

    &__category {
      margin-bottom: rem(10);
    }

    &__list {
      margin-left: rem(10);
      row-gap: rem(10);
    }

    &__more {
      position: relative;
      display: block;
      margin: rem(10) 0 rem(20);
      padding: 0 0 rem(5) rem(10);

      &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: rem(1);
        background: #C4C4C4;
      }
    }
  }
  @media (min-width: $tablet) {
    &__block {
      display: none;
      padding: rem(30) rem(10);

      &_active {
        display: grid;
      }
    }
 
    &__item {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }
}
